@page
@model Inzynierka.Areas.Identity.Pages.Categories.IndexModel

@{
    ViewData["PageTitle"] = "Categories";
    ViewData["PageActionText"] = "+ New Category";
    ViewData["PageActionUrl"] = "/Identity/Categories/AddOrEdit";
}

<div class="d-flex justify-content-end mb-4">
    <label for="pageSizeDropdown" class="me-2">Rows per page:</label>
    <select id="pageSizeDropdown" class="form-control" style="width: 120px;">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>
</div>
<div class="row">
    <div class="col-md-7">
        <ejs-grid id="categories" dataSource="@Model.Categories" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="TitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Type" template="#typeColumnTemplate" width="150px"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="150px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-5x"></i>
        </div>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
    ${if(Type=="Income")}
        <span class="badge bg-success">${Type}</span>
    ${else}
        <span class="badge bg-danger">${Type}</span>
    ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm btn-warning me-2" href="/Identity/Categories/AddOrEdit?id=${CategoryId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <a class="btn btn-sm btn-danger" href="/Identity/Categories/Delete?id=${CategoryId}">
            <i class="fa-solid fa-trash-can fa-lg"></i>
        </a>
    </div>
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var grid = document.getElementById('categories').ej2_instances[0];
        var pageSizeDropdown = document.getElementById('pageSizeDropdown');

        pageSizeDropdown.addEventListener('change', function () {
            var pageSize = parseInt(pageSizeDropdown.value);
            grid.pageSettings.pageSize = pageSize;
            grid.refresh();
        });
    });

</script>