@page
@model Inzynierka.Areas.Identity.Pages.Transactions.AddOrEditModel

@{
    ViewData["Title"] = Model.Transaction.TransactionId == 0 ? "Create new transaction" : "Edit transaction";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row e-bigger">
    <div class="col-md-8">
        <div class="widget p-5">
            <form method="post" asp-page="./AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Transaction.TransactionId" />

                <div class="mb-3">
                    <ejs-datepicker id="date" ejs-for="Transaction.Date" placeholder="Date" floatLabelType="Always" format="MMM-dd-yy"></ejs-datepicker>
                    <span asp-validation-for="Transaction.Date" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <ejs-dropdownlist id="ddlCategory" name="Transaction.CategoryId" dataSource="@Model.Categories" placeholder="Category" floatLabelType="Always" allowFiltering="true" ignoreAccent="true" filterType="Contains" popupHeight="290px" value="@Model.Transaction.CategoryId">
                        <e-dropdownlist-fields value="Value" text="Text"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="Transaction.CategoryId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <ejs-numerictextbox id="amount" ejs-for="Transaction.Amount" placeholder="Amount" floatLabelType="Always" min="0" decimals="2" format="n2" value="0"></ejs-numerictextbox>
                    <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <ejs-textbox id="note" placeholder="Note" ejs-for="Transaction.Note" floatLabelType="Always" multiline="true"></ejs-textbox>
                    <span asp-validation-for="Transaction.Note" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <ejs-checkbox id="isRecurring" ejs-for="Transaction.IsRecurring" label="Is Recurring" checked="false"></ejs-checkbox>
                </div>

                <div class="mb-3" id="recurrenceFields" style="display: none;">
                    <ejs-dropdownlist id="recurrenceFrequency" ejs-for="Transaction.RecurrenceFrequency" placeholder="Recurrence Frequency" floatLabelType="Always" dataSource="@Model.RecurrenceFrequencies">
                        <e-dropdownlist-fields value="Text" text="Text"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="Transaction.RecurrenceFrequency" class="text-danger"></span>

                    <ejs-datepicker id="recurrenceEndDate" ejs-for="Transaction.RecurrenceEndDate" placeholder="Recurrence End Date" floatLabelType="Always" format="MMM-dd-yy"></ejs-datepicker>
                    <span asp-validation-for="Transaction.RecurrenceEndDate" class="text-danger"></span>
                </div>

                <ejs-button id="submit" type="submit" content="Submit"></ejs-button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var isRecurringCheckbox = document.getElementById('isRecurring');
            var recurrenceFields = document.getElementById('recurrenceFields');

            if (isRecurringCheckbox.checked) {
                recurrenceFields.style.display = 'block';
            } else {
                recurrenceFields.style.display = 'none';
            }

            isRecurringCheckbox.addEventListener('change', function () {
                if (this.checked) {
                    recurrenceFields.style.display = 'block';
                } else {
                    recurrenceFields.style.display = 'none';
                }
            });
        });
    </script>
}