@page
@model Inzynierka.Areas.Identity.Pages.Transactions.IndexModel

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "/Identity/Transactions/AddOrEdit";
}
<div class="d-flex justify-content-end mb-4">
    <label for="pageSizeDropdown" class="me-2">Rows per page:</label>
    <select id="pageSizeDropdown" class="form-control" style="width: 120px;">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>
</div>
<div class="row">
    <div class="col-md-7">
        <ejs-grid id="transactions" dataSource="@Model.Transactions" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Date" field="Date" width="110px" type="date" format="MMM-dd-yy" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedAmount" textAlign="Right"></e-grid-column>
                <e-grid-column headerText="Reccuring" template="#recurringTemplate" textAlign="Center" width="100"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" textAlign="Center"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-arrow-right-arrow-left fa-5x"></i>
        </div>
    </div>
</div>
<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-center">
        <a class="btn btn-sm btn-warning me-2" href="/Identity/Transactions/AddOrEdit?id=${TransactionId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <a class="btn btn-sm btn-danger" href="/Identity/Transactions/Delete?id=${TransactionId}">
            <i class="fa-solid fa-trash-can fa-lg"></i>
        </a>
    </div>
</script>
<script id="recurringTemplate" type="text/x-template">
    ${if(IsRecurring)}
        <span class="badge bg-success">Yes</span>
    ${else}
        <span class="badge bg-secondary">No</span>
    ${/if}
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var grid = document.getElementById('transactions').ej2_instances[0];
        var pageSizeDropdown = document.getElementById('pageSizeDropdown');

        pageSizeDropdown.addEventListener('change', function () {
            var pageSize = parseInt(pageSizeDropdown.value);
            grid.pageSettings.pageSize = pageSize;
            grid.refresh();
        });
    });
</script>